<div class="container-fluid">
    <form ng-submit="form.submit(form.formulario)" name="form.formulario" novalidate>
        <div class="row">
            <div class="form-group">
                <div class="col-xs-12 col-sm-8 col-md-4">
                    <label for="campo1">Nome</label>
                    <input required ng-readonly="form.formIsDone" type="text" class="form-control" id="campo1"
                           ng-model="form.dados.nome"
                           ng-model-options="{debounce: 750}"
                           ng-change="form.formUpdated()">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <div class="col-xs-12 col-sm-8 col-md-4">
                    <label for="campo2">Sobrenome</label>
                    <input required ng-readonly="form.formIsDone" type="text" class="form-control" id="campo2"
                           ng-model="form.dados.sobrenome"
                           ng-model-options="{debounce: 750}"
                    ng-change="form.formUpdated()">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <div class="col-xs-12 col-sm-8 col-md-4">
                    <label for="campo3">Email</label>
                    <input required ng-readonly="form.formIsDone" type="text" class="form-control" id="campo3"
                           ng-model="form.dados.email"
                           ng-model-options="{debounce: 750}"
                           ng-change="form.formUpdated()">
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-xs-4">
                <button type="submit" ng-disabled="!form.formulario.$valid || formIsDone" class="btn btn-primary">Enviar</button>
            </div>
        </div>
    </form>
</div>