<div class="container-fluid">
    <form ng-submit="ctrl1.submit()">
        <div class="row">
            <div class="form-group">
                <div class="col-xs-4">
                    <label for="campo1">Campo 1</label>
                    <input type="text" class="form-control" id="campo1">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <div class="col-xs-4">
                    <label for="campo2">Campo 2</label>
                    <input type="text" class="form-control" id="campo2">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <div class="col-xs-4">
                    <label for="campo3">Campo 3</label>
                    <input type="text" class="form-control" id="campo3">
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-xs-4">
                <button type="submit" class="btn btn-primary">Enviar</button>
            </div>
        </div>
    </form>
</div>