<div class="container-fluid">
    <form ng-submit="form.submit()">
        <div class="row">
            <div class="form-group">
                <div class="col-xs-4">
                    <label for="campo1">Nome</label>
                    <input type="text" class="form-control" id="campo1" ng-model="form.dados.nome">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <div class="col-xs-4">
                    <label for="campo2">Sobrenome</label>
                    <input type="text" class="form-control" id="campo2" ng-model="form.dados.sobrenome">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <div class="col-xs-4">
                    <label for="campo3">Email</label>
                    <input type="email" class="form-control" id="campo3" ng-model="form.dados.email">
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-xs-4">
                <button type="submit" class="btn btn-primary">Enviar</button>
            </div>
        </div>
    </form>
</div>